<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="4" name="Test">
    <classes>
    	<class name="test.FPTestCase1"/>
    	<class name="test.FPTestCase2"/>
    	<class name="test.FPTestCase3"/>
    	<class name="test.FPTestCase4"/>
    	<class name="test.FPTestCase5"/>
    	<class name="test.FPTestCase6"/>
      	<class name="test.FPTestCase7"/>
      	<class name="test.FPTestCase8"/>
      	<class name="test.FPTestCase9"/>
      	<class name="test.FPTestCase10"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
